.NotesContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.emailField {
    margin-left: 10px !important;
    width: 300px !important;
}

.addBtn {
    margin-left: 10px !important;

}

.NotesListContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}