.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  width: 90%;
  margin: 10px;
  border-radius: 15px;
}



.container {
  padding: 2px 16px;
}

.movieWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
